@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
html,body{
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    /* background-color: rgb(193, 233, 47); */
    ;
}
.button{
padding: 20px;
width: 66px;
margin: 0px 3px;
border: 2px solid black;
border-radius: 8px;
cursor: pointer;
}
.row{
    padding: 8px 0px;
}
.row input{
     width: 226px;
    font-size: 23px 0px;
    margin: 7px 9px;
    padding: 6px 32px;
    border-radius: 2px ;
    border: 2px solid black;
}
body{
    background-color: rgb(30, 174, 210);
}
.row :hover{
    background-color: rgb(203, 214, 45);

}
